<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cye home</title>
  <link rel="stylesheet" href="welcome-page.component.css">
</head>
<body>
  <div id="nav">
    <div class="nav-left">
      <h4 class="nav-link" routerLink="/about-us">About Us</h4>
      <h4 class="nav-link" routerLink="/contact-us">Contact Us</h4>
    </div>
    <div class="nav-right">
      <button class="login-btn" routerLink="/login">Login</button>
      <button class="register-btn" routerLink="/register">Register</button>
    </div>
  </div>
  <video autoplay loop muted src="https://videos.pexels.com/video-files/2890236/2890236-hd_1920_1080_30fps.mp4"></video>
  <div id="main">
    <div id="page1">
      <h1>CATCH. YOUR. EVENTS.</h1>
      <h2>WELCOME TO CYE</h2>
      <p>Dive into a world of unforgettable experiences! Discover, save, and share thrilling events near you - don't just attend, live every moment to the fullest!</p>
    </div>
  </div>
</body>
</html>
