<header class="header-container">
    <div class="left-links">
      <a routerLink="/about-us" class="header-item">About Us</a>
      <a routerLink="/wishlist" class="header-item">Wishlist</a>
    </div>
    <div class="header-item header-center">Catch Your Events</div>
    <div class="right-links">
      <a routerLink="/contact-us" class="header-item support-item">Support</a>
      <div class="profile-container">
        <a href="#" class="header-item">Profile</a>
        <div class="profile-dropdown">
          <p class="email">Email: {{ userEmail }}</p>
          <p class="role">Role: {{ userType }}</p>
          <button class="logout-button" (click)="logout()">Log Out</button>
        </div>
      </div>
    </div>
  </header>
  <div class="header-line"></div>
  