<header class="header-container">
    <div class="left-links">
        <a href="/about-us" class="header-item">About Us</a>
        <a href="#" class="header-item">Wishlist</a>
    </div>
    <div class="header-item header-center">Catch Your Events</div>
    <div class="right-links">
        <a href="#" class="header-item support-item">Support</a>
        <div class="profile-container">
            <a href="#" class="header-item">Profile</a>
            <div class="profile-dropdown">
                <p>Email: user&#64;example.com</p>
                <p>Role: User</p>
            </div>
        </div>
    </div>
</header>
<div class="header-line"></div>
