<app-header></app-header>
<div class="events-container">
  <h2>All Events</h2>
  <div class="events">
    <div class="event-card">
      <div class="event-image">
        <img src="assets/images/marketing.jpg" alt="Marketing Workshop">
      </div>
      <h3>Marketing Workshop</h3>
      <p>Marketing Gurus Ltd.</p>
      <a href="#">Know More ></a>
      <button class="wishlist-btn" (click)="addToWishlist('Marketing Workshop')">Add to Wishlist</button>
    </div>
    <div class="event-card">
      <div class="event-image">
        <img src="assets/images/cherry.jpg" alt="Cherry blossom">
      </div>
      <h3>Cherry blossom</h3>
      <p>Way to Peace</p>
      <a href="#">Know More ></a>
      <button class="wishlist-btn" (click)="addToWishlist('Cherry blossom')">Add to Wishlist</button>
    </div>
  </div>
</div>
