<body>
    <div class="wrapper">
      <div class="container">
        <!-- Your event boxes go here -->
        <div class="event-box">
          <h1>Event Title</h1>
          <div class="event-details">
            <img src="https://www.unicef.org/innocenti/sites/unicef.org.innocenti/files/styles/hero_extended/public/UN0825658%20%281%29.jpg.webp?itok=T4ejYpEI" alt="Description of the image" width="350px">
            <p><span>Event Date:</span> Date of the Event</p>
            <p><span>Event Venue:</span> Venue of the Event</p>
            <p><span>Event Time:</span> Time of the Event</p>
            <p><span>Event Host:</span> Host of the Event</p>
            <p><span>Description:</span> This is an event description.</p>
            
            <a href="https://www.unicef.org/innocenti/events/launch-unicefs-youth-foresight-playbook-dubai-future-forum" 
             
              class="button">
               View more details
            </a>
          </div>
        
        </div>
        <!-- Additional event-boxes can be added here -->
      </div>
    </div>
  </body>
  